################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExaminationSystem/FileContentIndex/0e7f84c8-db3b-4404-8b82-07a5827cb7fd.vsidx
/.vs/ExaminationSystem/FileContentIndex/1adeaa5e-7d29-4d82-a3ce-566d065d91db.vsidx
/.vs/ExaminationSystem/FileContentIndex/63d395a4-2a92-48cf-afc5-12fd0ce5d2af.vsidx
/.vs/ExaminationSystem/FileContentIndex/cca43c1b-ed45-4837-8f18-9182b6596fbc.vsidx
/.vs/ExaminationSystem/FileContentIndex
/ExaminationSystem/obj/Debug/net8.0/ExaminationSystem.AssemblyInfo.cs
/ExaminationSystem/obj/Debug/net8.0/ExaminationSystem.AssemblyInfoInputs.cache
/ExaminationSystem/obj/Debug/net8.0/ExaminationSystem.assets.cache
/ExaminationSystem/obj/Debug/net8.0/ExaminationSystem.sourcelink.json
/.vs/ExaminationSystem/FileContentIndex/2fe241e2-c392-4eb7-a18a-df74a10b9dbd.vsidx
/.vs/ExaminationSystem/FileContentIndex/48829e61-c8d1-4947-b71c-234dad1dbe1d.vsidx
/.vs/ExaminationSystem/DesignTimeBuild/.dtbcache.v2
/.vs/ExaminationSystem/v17/.futdcache.v2
/.vs/ExaminationSystem/v17/.suo
/.vs/ExaminationSystem/v17/DocumentLayout.json
/.vs/ProjectEvaluation/examinationsystem.metadata.v8.bin
/.vs/ProjectEvaluation/examinationsystem.projects.v8.bin
/.vs/ProjectEvaluation/examinationsystem.strings.v8.bin
/ExaminationSystem/obj/Debug/net8.0/ExaminationSystem.AssemblyInfo.cs
/ExaminationSystem/obj/Debug/net8.0/ExaminationSystem.AssemblyInfoInputs.cache
/ExaminationSystem/obj/Debug/net8.0/ExaminationSystem.assets.cache
/ExaminationSystem/obj/Debug/net8.0/ExaminationSystem.csproj.AssemblyReference.cache
/ExaminationSystem/obj/ExaminationSystem.csproj.nuget.dgspec.json
/ExaminationSystem/obj/project.assets.json
/ExaminationSystem/obj/project.nuget.cache
